<mat-toolbar>
  <span routerLink="/home">Amplify PD</span>
</mat-toolbar>

<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome {{ user.username }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="accent" (click)="signOut()">Sign Out</button>
      </mat-card-content>
    </mat-card>
  </ng-template>
</amplify-authenticator>
